
.navbar {
    padding: 2rem;
    background-color: rgb(248, 201, 113);
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.colormenu {
    color: black;
}
.textomenu {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}